* {
    margin: 0;
    font-family: sans-serif;
}

.navContainer {
    display: flex;
    width: 100%;
    Height: 100px;
    background-image: linear-gradient(rgb(16, 45, 65), rgb(12, 36, 56), rgb(8, 30, 48));
    justify-content: right;
}

.contentDiv {
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(183, 216, 242);
}

.logo {
    flex: 1;
    justify-self: left;
    height: 100%;
    width: auto;
}

.navItem {
    flex: 1;
    border-left: 1px solid #000;
    border-color: white;
    color: rgb(183, 216, 242);
    z-index: 0;
}

.navItem:hover {
    background-color: rgb(128, 192, 242);
    color: rgb(12, 36, 56);
}

.navItem:active {
    background-color: yellow;
}

a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}