* {
    margin: 0;
}

.navContainer {
    display: flex;
    width: 100%;
    Height: 2%;
    background-color: rgb(255, 153, 0);
    justify-content: right;
}

.homeDiv {
    margin: 100px;
}

.logo {
    flex: 1;
    justify-self: left;
}

.home {
    flex: 1;
}

.home:hover {
    background-color: aqua;
}

.contact:hover {
    background-color: aqua;
}

.about:hover {
    background-color: aqua;
}

.home:active {
    background-color: yellow;
}

.contact:active {
    background-color: yellow;
}

.about:active {
    background-color: yellow;
}
.contact {
    flex: 1;

}

.about {
    flex: 1;
}

.CCC {
    flex: 1;
}

.KT {
    flex: 1;
}

.CCC:hover {
    background-color: aqua;
}

.KT:hover {
    background-color: aqua;
}

.CCC:active {
    background-color: yellow;
}

.KT:active {
    background-color: yellow;
}


Link {
    text-emphasis-style: none;
}