* {
    margin: 0;
}

.navContainer {
    display: flex;
    width: 100%;
    Height: 2%;
    background-color: rgb(255, 153, 0);
    justify-content: right;
}

.homeDiv {
    margin: 100px;
    background-color: aliceblue;
}

.logo {
    flex: 1;
    justify-self: left;
}

.home {
    flex: 1;
    background-color: aqua;
}

.contact {
    flex: 1;

}

.about {
    flex: 1;

}

.home:hover {
    flex: 1;
    background-color: rgb(0, 255, 195);

}

Link {
    text-emphasis-style: none;
}